:root {
    --base_color: #282c34;
    --contrast_color: bisque;
    --myYellow: rgb(236,202,0);
  }
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&family=Bungee+Hairline&family=Cabin+Sketch&family=Dynalight&family=Fredericka+the+Great&family=Libre+Barcode+128+Text&family=Monoton&family=Nosifer&family=Plaster&family=Press+Start+2P&family=Redacted+Script:wght@300&family=Rubik+Glitch&family=Rubik+Wet+Paint&family=Seaweed+Script&family=Special+Elite&family=Wallpoet&display=swap&family=Special+Elite&display=swap');
*{
    margin: 0;
}

body {
    min-height: 100vh;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: var(--base_color);
    min-height: 100vh;
  }
.view{
    height: 95vh;
    width: 83vw;
    background-color: #393c44;
    overflow-y: scroll;
}

main{
    height: 95vh;
    max-width: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.layoutContainer{
    display: flex;
}
.rigthBlock{
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3{
    color:var(--myYellow);
    font-family: 'Big Shoulders Stencil Text', cursive;
}

header{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
  
h1,
h2,
h3{
    color:var(--myYellow);
    font-family: 'Big Shoulders Stencil Text', cursive;
}
  
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
  
    margin: 0;
    padding: 0;
    
  }
  
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   }
  
a,
ul li{
    text-decoration: none;
    color: orange;
    margin: 5px;
  }
  
a:hover{
    color: coral;
    text-shadow: 0 0 10px coral;
  }
  
.flexRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }

.flexColumn{
    display: flex;
    flex-direction: Column;
    align-items: center;
  }
  
.textImput{
    width: 150px;
  }
  
.numInput{
    width: 75px;
  }
  
.invisible{
    visibility: hidden;
  }
  
.inexistent{
    display: none;
  }

.article{
    margin-top: 40px;
  }
.articleImg{
    width: 80vw;
}