.chat{
    display: flex;
    flex-direction: column;
}
.area{
    height: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chatbox{
    color:white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: scroll;
    height: 90%;
}
