.create-formation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.FormationPart{
    display: flex;
}

.createFormInfoAtrr{
    font-size: 12px;
}

.sideData{
    display: flex;
    justify-content: space-between;
}