.createCampaign{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.section{
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin: 5px;
}

.mapSection{
    flex-direction: column;
}

.subSection{
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin: 5px;
}

.mapSelect{
    align-items: center;
}

.displayMap{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    background-color: rgb(17, 15, 15);
    border-radius: 10px;
    position: relative;
    background-repeat: repeat;
    background-size: 25px;
}