.drawmap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topPanel{
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    justify-content: center;
    align-items:flex-start;
}

.panelSection{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dimensionArea{
    display: inline;
}


.screen{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    width: 75vw;
    height: 75vw;
    background-color: rgb(17, 15, 15);
    border-radius: 10px;
    position: relative;
}
.canvas{
    position: relative;
    max-width: 75vw;
    max-height: 75vw;
}

.bottomPanel{
    display: flex;
    flex-wrap: wrap;
    height: 120px;
}