.myArmy{
    display: flex;
    flex-direction: column;
    position: relative;
}
.panel{
    background-color: #282c34;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    position: fixed;
    top: 65px;
    z-index: 10;
    padding: 5px;
}

.showSelected,
.addFormationButton{
    background-color: #484848;
    border-radius: 10px;
}
.searchInput{
    font: 14px;
}