.tile{
    background-repeat: no-repeat;
    background-position: "center";

    height:56px;
    width:50px;

    display:flex;
    justify-content:center;
    align-items:center;
    
    position: relative;
}