.warRoom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.camapigns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}