.warRoom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.campaignArea{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.camapigns{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}